$numbers: (
    1 one whole wholes,
    2 two half halves,
    3 three third thirds,
    4 four quarter quarters,
    5 five fifth fifths,
    6 six sixth sixths,
    7 seven seventh sevenths,
    8 eight eighth eighths,
    9 nine ninth ninths,
    10 ten tenth tenths,
    11 eleven eleventh elevenths,
    12 twelve twelfth twelfths,
    13 thirteen thirteenth thirteenths,
    14 fourteen fourteenth fourteenths,
    15 fifteen fifteenth fifteenths,
    16 sixteen sixteenth sixteenths,
    17 seventeen seventeenth seventeenths,
    18 eighteen eighteenth eighteenths,
    19 nineteen nineteenth nineteenths,
    20 twenty twentieth twentieths,
    21 twentyone twentyfirst twentyfirsts,
    22 twentytwo twentysecond twentyseconds,
    23 twentythree twentythird twentythirds,
    24 twentyfour twentyfourth twentyfourths,
    25 twentyfive twentyfifth twentyfifths,
    26 twentysix twentysixth twentysixths,
    27 twentyseven twentyseventh twentysevenths,
    28 twentyeight twentyeighth twentyeighths,
    29 twentynine twentyninth twentyninths,
    30 thirty thirtieth thirtieths
);