$grids: (1, 2, 3, 4, 5, 6, 8, 10, 12) !default;

$grid-gutter: 30px !default;

$down: 'down' !default;
$up:   'up' !default;

$tiny:        'tiny' !default;
$small:       'small' !default;
$small-down:  '#{$small}-#{$down}' !default;
$small-up:    '#{$small}-#{$up}' !default;
$medium:      'medium' !default;
$medium-down: '#{$medium}-#{$down}' !default;
$medium-up:   '#{$medium}-#{$up}' !default;
$large:       'large' !default;
$large-down:  '#{$large}-#{$down}' !default;
$large-up:    '#{$large}-#{$up}' !default;
$huge:        'huge' !default;

$container-widths: (
    $small-up:  540px,
    $medium-up: 720px,
    $large-up:  960px,
    $huge:      1140px
) !default;

$media-width-small:  576px !default;
$media-width-medium: 768px !default;
$media-width-large:  992px !default;
$media-width-huge:   1200px !default;

$breakpoints: (
    $tiny        '(max-width: #{$media-width-small - 1})',
    $small       '(min-width: #{$media-width-small}) and (max-width: #{$media-width-medium - 1})',
    $small-down  '(max-width: #{$media-width-medium - 1})',
    $small-up    '(min-width: #{$media-width-small})',
    $medium      '(min-width: #{$media-width-medium}) and (max-width: #{$media-width-large - 1})',
    $medium-down '(max-width: #{$media-width-large - 1})',
    $medium-up   '(min-width: #{$media-width-medium})',
    $large       '(min-width: #{$media-width-large}) and (max-width: #{$media-width-large - 1})',
    $large-down  '(max-width: #{$media-width-large - 1})',
    $large-up    '(min-width: #{$media-width-large})',
    $huge        '(min-width: #{$media-width-large})'
) !default;

$breakpoint-has-widths: (
    $tiny,
    $small,
    $small-down,
    $small-up,
    $medium,
    $medium-down,
    $medium-up,
    $large,
    $large-down,
    $large-up,
    $huge
) !default;