@mixin media-query($media-query) {
    $breakpoint-found: false;

    @each $breakpoint in $breakpoints {
        $name: nth($breakpoint, 1);
        $declaration: nth($breakpoint, 2);

        @if $media-query == $name and $declaration {
            $breakpoint-found: true;

            @media #{$declaration} {
                @content;
            }
        }
    }

    @if $breakpoint-found == false {
        @warn 'Breakpoint "#{$breakpoint}" does not exist';
    }
}