.container {
    @include make-container;

    @each $breakpoint in $breakpoint-has-widths {
        @if (str-index($breakpoint, '-up') or $breakpoint == nth(last($container-widths), 1)) {
            @include media-query($breakpoint) {
                max-width: map-get($container-widths, $breakpoint);
            }
        }
    }
}

.container--flush {
    @include make-container;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: $grid-gutter / -2;
    margin-right: $grid-gutter / -2;
}

@include make-grids;

@include make-pushes;